.language {

  float: right;

  .open .caret {

    transform: rotate(180deg);

  }

  @media (max-width: $screen-xs-max) {

    float: left;

  }

  .dropdown-menu {

    border-radius: 0;
    border: 0;
    min-width: 0;
    margin-top: 0;
    padding: 0;
    width: 100%;

    li {

      a {

        padding: 16px 14px;

      }

    }

  }

}

.btn-language {

  padding: 16px 14px;
  border-radius: 0;
  background-color: transparent;
  border: 0;

  @media (max-width: $screen-xs-max) {

    color: #ffffff;

    &:hover {

      color: #ffffff;

    }

  }

  &:active, .open & {

    @include box-shadow(none);
    background-color: $brand-primary;
    color: #ffffff;

  }

}
