.language {

  margin-top: 15px;
  float: right;

  @media (max-width: $screen-xs-max) {

    float: left;

  }

  & > a {

    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    line-height: 1.2;
    border-bottom: 1px dashed #ffffff;

  }

  & > .dropdown-menu {

    min-width: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;

    & a {

      display: inline;
      padding: 0;

      @media (max-width: $screen-xs-max) {

        color: #ffffff;

        &:hover {

          color: #ffffff;

        }

      }

      &:hover {

        background-color: transparent;

      }

    }

  }

}
