.menu {

  .page-footer & {

    margin: 0 0 0 15px;
    padding: 0;
    list-style: none;

  }

  &__item {

    &:not(:last-child) {

      margin-right: 30px;

      @media (max-width: $screen-sm-max) {

        margin-right: 17px;

      }

      @media (max-width: $screen-xs-max) {

        margin-right: 0;

      }

    }

    .page-footer & {

      margin-bottom: 15px;

    }

  }

  &__link {

    @media (max-width: $screen-xs-max) {

      color: #ffffff;
      border-radius: 0;
      text-decoration: none;

      &:hover {

        color: #ffffff;
        background-color: $brand-primary;

      }

    }

    .page-footer & {

      color: #ffffff;
      font-size: 15px;

      &:active {

        color: rgba(255,255,255,0.5);

      }

    }

  }

}
