.menu {

  margin: 0;
  padding: 0 0 0 15px;
  list-style: none;
  color: #ffffff;
  font-size: 15px;

  .page-header & {

    font-size: 16px;
    padding: 0;

    @media (max-width: $screen-xs-max) {

      margin-left: -5px;
      margin-right: -5px;

    }

  }

  &__item {

    &:not(:last-child) {

      margin-bottom: 8px;

    }

    .page-header & {

      margin-bottom: 0;
      display: inline-block;
      text-align: center;

      @media (max-width: $screen-xs-max) {

        display: block;
        text-align: left;

      }

      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

        min-width: 100px;

      }

      @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

        min-width: 110px;

      }

      @media (min-width: $screen-lg-min) {

        min-width: 120px;

      }

    }

    &--active {

      span {

        .page-header & {

          display: block;
          padding: 15px;

        }

      }

      .page-header & {

        background-color: $brand-primary;

      }

    }

    & > a {

      color: #ffffff;

      &:hover, &:focus {

        color: #ffffff;

        .page-header & {

          background-color: $brand-primary;
          color: #ffffff;

          @media (max-width: $screen-xs-max) {

            background-color: $brand-primary;

          }

        }

      }

      &:active {

        color: rgba(255,255,255,0.5);

      }

      .page-header & {

        padding: 15px;
        display: block;
        color: $brand-primary;
        text-decoration: none;

        @media (max-width: $screen-xs-max) {

          color: #ffffff;

        }

      }

    }

  }



}
