.menu {

  padding: 0;
  margin: 0;
  list-style-type: none;
  float: left;

  &__item {

    display: inline-block;
    margin-left: 40px;
    padding: 15px;
    color: $brand-primary;
    font-size: 16px;
    border-bottom-left-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;

    @media (max-width: $screen-sm-max) {

      margin-left: 10px;

    }

    &--active {

      background-color: $brand-primary;

      & > span {

        color: #ffffff;

      }

    }

  }

}
