.page-header {

  height: 100vh;
  min-height: 700px;
  background: url('../images/header-bg.jpg') 0 50% no-repeat;
  background-size: cover;

  &__menu-lang {

    margin-bottom: 50px;

  }

  &__logo-time-phone {

    text-align: center;

  }

}
