.page-description {

  background-color: #ffffff;
  padding: 50px;

  &__wrap {

    border: 3px dashed #eeeeee;
    border-radius: 10px;
    min-height: 160px;
    position: relative;
    padding: 10px 10px 10px 180px;

    @media (max-width: $screen-xs-max) {

      padding-left: 10px;
      padding-top: 180px;

    }

    &::before {

      content: '';
      width: 140px;
      height: 140px;
      background: url('../images/info@1x.png') no-repeat 0 50%;
      background-size: 140px 140px;
      position: absolute;
      left: 10px;
      top: 50%;
      margin-top: -70px;

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

        background-image: url('../images/info@2x.png');

      }

      @media (max-width: $screen-xs-max) {

        top: 10px;
        margin-top: 0;
        left: 50%;
        margin-left: -70px;

      }

    }

  }


  &__text {

    line-height: 1.8;
    color: #4b4b4b;
    font-size: 15px;

  }

}
