.page-description {

  background-color: #ffffff;
  padding: 50px 0;

  &__text {

    line-height: 1.8;
    color: #4b4b4b;
    font-size: 15px;

  }

  &__img-wrap {

    text-align: center;

    @media (max-width: $screen-xs-max) {

      margin-bottom: 20px;

    }

  }

  &__img {

    min-height: 140px;

    @media (max-width: $screen-sm-max) {

      margin-bottom: 20px;

    }

    &::before {

      content: '';
      width: 140px;
      height: 140px;
      background: url('../images/info@1x.png') no-repeat 0 0;
      background-size: 140px 140px;
      position: absolute;
      left: 50%;
      margin-left: -70px;

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

        background-image: url('../images/info@2x.png');

      }

      .svg & {

        background-image: url('../images/info.svg');

      }

    }

  }

}
