.page-footer {

  background-color: #3280ac;
  color: #ffffff;

  &__block {

    padding: 30px 0 20px 0;

    &--filled {

      background-color: #1a658f;

    }

    &-heading {

      padding: 3px 15px;
      font-size: 20px;
      font-weight: 500;
      text-transform: uppercase;
      background-color: #1a658f;
      border-radius: $border-radius-base;
      margin-bottom: 15px;

    }

  }

  &__info {

    padding: 0 0 0 15px;
    margin: 0;
    font-weight: 500;
    font-size: 15px;
    list-style: none;

    &-item {

      margin-bottom: 27px;
      padding-left: 30px;

    }

  }

  &__tel {

    background: url('../images/tel@1x.png') 0 50% no-repeat;
    background-size: 19px 19px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

      background-image: url('../images/tel@2x.png');

    }

    .svg & {

      background-image: url('../images/tel.svg');

    }

  }

  &__skype {

    background: url('../images/skype@1x.png') 0 50% no-repeat;
    background-size: 19px 19px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

      background-image: url('../images/skype@2x.png');

    }

    .svg & {

      background-image: url('../images/skype.svg');

    }

  }

  &__skype {

    background: url('../images/skype@1x.png') 0 50% no-repeat;
    background-size: 19px 19px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

      background-image: url('../images/skype@2x.png');

    }

    .svg & {

      background-image: url('../images/skype.svg');

    }

  }

  &__viber {

    background: url('../images/viber@1x.png') 0 50% no-repeat;
    background-size: 19px 19px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

      background-image: url('../images/viber@2x.png');

    }

    .svg & {

      background-image: url('../images/viber.svg');

    }

  }

  &__email {

    background: url('../images/email@1x.png') 0 50% no-repeat;
    background-size: 19px 19px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

      background-image: url('../images/email@2x.png');

    }

    & > a {

      color: #ffffff;

    }

    .svg & {

      background-image: url('../images/email.svg');

    }

  }

  &__post-footer {

    background: url('../images/dash-bg-dark-blue@1x.png') #1a658f 0 0 repeat-x;
    padding: 8px 0 5px;
    margin-top: -3px;

  }

  &__copyright {

    margin-left: 25px;
    padding-top: 5px;

  }

  &__social {

    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;

    &-item {

      display: inline-block;
      margin: 0 3px;

    }

    &-link {

      width: 28px;
      height: 28px;
      display: block;
      @include border-bottom-radius(2px);
      @include border-top-radius(2px);
      background-color: #8baec2;
      background-repeat: no-repeat;
      background-position: 50% 50%;

      &:hover, &:focus {

        background-color: darken(#8baec2, 10%);

      }

      &:active {

        background-color: darken(#8baec2, 15%);

      }

    }

    &-fb {

      background-image: url('../images/facebook@1x.png');
      background-size: 8px 16px;

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

        background-image: url('../images/facebook@2x.png');

      }

      .svg & {

        background-image: url('../images/facebook.svg');

      }

    }

    &-vk {

      background-image: url('../images/vk@1x.png');
      background-size: 18px 11px;

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

        background-image: url('../images/vk@2x.png');

      }

      .svg & {

        background-image: url('../images/vk.svg');

      }

    }

    &-od {

      background-image: url('../images/od@1x.png');
      background-size: 10px 16px;

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

        background-image: url('../images/od@2x.png');

      }

      .svg & {

        background-image: url('../images/od.svg');

      }

    }

  }

}
