.service {

  width: 35px;
  height: 35px;
  float: left;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: 50% 50%;

  &--residency {

    background-image: url('../images/residency.png');

  }

  &--healing {

    background-image: url('../images/healing.png');

  }

}
