.service {

  width: 25px;
  height: 25px;
  float: left;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: 50% 50%;
  margin-left: 3px;
  margin-bottom: 3px;

  &--residency {

    background-image: url('../images/residency.png');

  }

  &--healing {

    background-image: url('../images/healing.png');

  }

}
