.stars {

  position: relative;
  display: inline-block;
  vertical-align: middle;

  &::before {

    content: '';
    position: absolute;
    background: url('../images/star@1x.png')100% 50% repeat-x;
    background-size: 14px 13px;
    height: 13px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

      background-image: ('../images/star@2x.png');

    }

    .svg & {

      background-image: url('../images/star.svg');

    }

  }

  &--1::before {

    width: 14px;

  }

  &--2::before {

    width: 28px;

  }

  &--3::before {

    width: 42px;

  }

  &--4::before {

    width: 56px;

  }

  &--5::before {

    width: 70px;

  }

}
