input[type='text'] {

  height: 40px;
  border: none;
  border-radius: $border-radius-base;
  width: 100%;
  box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.3);
  font-size: 14px;
  padding: 5px;

  &:focus {

    outline: none;

  }

}

select {

  width: 100%;

}
