doctype html
html.no-js(lang='uk')
  head
    meta(charset='utf8')
    meta(name='description' content='WelcomeTour - туристичний сайт')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title WelcomeTour - туристиний сайт Трускавця

    //build:css styles/vendor.css
    //bower:css
    link(rel='stylesheet', href='/bower_components/bootstrap-select/dist/css/bootstrap-select.css')
    //endbower
    //endbuild

    //build:css styles/main.css
    link(rel='stylesheet' href='styles/main.css')
    link(rel='stylesheet' href='styles/vendor/bootstrap-datepicker3.css')
    //endbuild

    //build:js scripts/vendor.js
    //bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap.js')
    script(src='/bower_components/modernizr/modernizr.js')
    script(src='/bower_components/bootstrap-select/dist/js/bootstrap-select.js')
    script(src='/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')
    script(src='/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.uk.min.js')
    //endbower
    //endbuild

    // Include mixins
    include jade/mixins/resort

    body
      include jade/blocks/page-header
      include jade/blocks/breadcrumbs
      main

        header.page-heading
          .container
            h1.page-heading__header Санаторії
            .page-heading__subheader Тут ви знайдете кращі санаторії Трускавця

        .resorts-page__resorts-wrap
          .container
            .row
              - var i = 0;
                while i < 12
                  .col-sm-4.col-lg-3
                    +resort
                    -i++
      include jade/blocks/pagination
      .page-description
        .container
          .row
            .col-md-3

            .col-md-9
              p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                | dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                | book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                | It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                | with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

      include jade/blocks/page-footer



      // build:js scripts/main.js
      script(src='scripts/main.js')
      script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsJsJTP-GBsnMfTsGzYoh3KH6iTmWU7hw&callback=initMap")
      // endbuild

