mixin resort()
  article.resort
    .resort__wrap
      .resort__wrap-inner
        .resort__img-wrap
          a(href='#')
            img(src='../images/resorts/rixos.jpg' alt='Rixos Прикарпаття')
        .resort__info-wrap
          a.location(href='#') Трускавець
          h1.resort__name
            a(href='#') Rixos Прикарпаття
          .clearfix
          .resort__price
            span.resort__price-at від
            |  5000
            .resort__currency-wrap
              .resort__price-currency грн
              .resort__price-unit чол
          .stars.stars--5
          .clearfix
          p.resort__description Загальний опис будівлі та номерного фонду: 7-миповерховий комплекс з 60 номерами преміум класу, оснащений ліфтами.
          .resort__btn-wrap.row
            .col-md-6
              a.btn.resort__more-btn(href='#') Детальніше
            .col-md-6
              a.btn.resort__booking-btn(href='#') Бронювати
