.booking
  .booking__heading Оберіть кращий відпочинок в Трускавці
  .booking__top-row.row
    .col-sm-6.col-md-3
      .form-group
        label(for='resort') Проживання:
        select#resort.booking__resort(name='resort')
          optgroup(label='Санаторії')
            option(value='Rixos' class='booking__stars booking__stars--5') Rixos Прикарпаття
            option(value='Mirotel' class='booking__stars booking__stars--5') Mirotel
            option(value='Шале Грааль' class='booking__stars booking__stars--4') Shale Graal
            option(value='Золота Корона' class='booking__stars booking__stars--3') Golden Royal
          optgroup(label='Готелі')
            option(value='Золота корона') Golden Crown
    .col-sm-6.col-md-3
      .form-group
        label(for='room') Номер:
        select#room.booking__room(name='room')
          option(value='Стандарт') Стандарт
          option(value='Стандарт') Твін
          option(value='Стандарт') Півлюкс
          option(value='Стандарт') Люкс
          option(value='Стандарт') Президентський
    .input-daterange
      .col-sm-6.col-md-2
        .form-group
          label(for='date_arrive') Дата поселення:
          .booking__date
            input#date_arrive.form-control(type='text' name='date_arrive' placeholder='Оберіть дату')
      .col-sm-6.col-md-2
        .form-group
          label(for='date_leave') Дата виїзду:
          .booking__date
            input#date_leave.form-control(type='text' name='date_leave' placeholder='Оберіть дату')
    .col-sm-6.col-md-1
      .form-group
        label(for='adults') Дорослих:
        select#adults.booking__adults(name='date_arrive')
          option(value='1') 1
          option(value='2') 2
          option(value='3') 3
          option(value='4') 4
    .col-sm-6.col-md-1
      .form-group
        label(for='adults') Дітей:
        select#children.booking__children(name='date_arrive')
          option(value='0') 0
          option(value='1') 1
          option(value='2') 2
          option(value='3') 3
          option(value='4') 4
  .booking__bottom-row.row
    .col-sm-4.col-md-2
      .form-group
        input#name.form-control(type='text' name='name' placeholder="Ваше ім'я")
    .col-sm-4.col-md-2
      .form-group
        input#suname.form-control(type='text' name='suname' placeholder='Прізвище')
    .col-sm-4.col-md-2
      .form-group
        input#second_name.form-control(type='text' name='second_name' placeholder='По-батькові')
    .col-sm-4.col-md-2
      .form-group
        input#email.form-control(type='text' name='email' placeholder='Електронна пошта')
    .col-sm-4.col-md-2
      .form-group
        input#phone.form-control(type='text' name='phone' placeholder='Номер телефону')
    .col-sm-4.col-md-2
      .form-group
        .booking__button-submit-wrap
          input#submit.btn.booking__button-submit(type='submit' name='submit' value='Бронювати')
