.dropdown.language
  a#language(data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") UA
    span.caret
  ul.dropdown-menu(aria-labelledby="language")
    li
      a(href='/ua') UA
    li
      a(href='/ru') RU
