nav.navbar.navbar-default
  .container
    button.navbar-toggle.collapsed.menu__collapse-btn(type="button" data-toggle="collapse" data-target="#collaps-menu" aria-expanded="false")
      span.sr-only Меню
      span.icon-bar
      span.icon-bar
      span.icon-bar

    include language

    .collapse.navbar-collapse#collaps-menu
      ul.nav.navbar-nav.menu
        li.active.menu__item.menu__item--active
          span Головна
        li.menu__item
          a.menu__link(href='#') Трускавець
        li.menu__item
          a.menu__link(href='#') Санаторії
        li.menu__item
          a.menu__link(href='#') Діти
        li.menu__item
          a.menu__link(href='#') Ціни
        li.menu__item
          a.menu__link(href='#') Карта
        li.menu__item
          a.menu__link(href='#') Контакти




