nav.navbar.navbar-default.menu
  .container
    button.navbar-toggle.collapsed.menu__collapse-btn(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
      span.sr-only Меню
      span.icon-bar
      span.icon-bar
      span.icon-bar

    include language

    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      ul.nav.navbar-nav.menu__list
        li.active.menu__item.menu__item--active
          a.menu__link(href='#') Головна
        li.menu__item
          a.menu__link(href='#') Трускавець
        li.menu__item
          a.menu__link(href='#') Санаторії
        li.menu__item
          a.menu__link(href='#') Діти
        li.menu__item
          a.menu__link(href='#') Ціни
        li.menu__item
          a.menu__link(href='#') Карта
        li.menu__item
          a.menu__link(href='#') Контакти




