nav.navbar.navbar-default
  .container
    button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar

    include language

    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      ul.nav.navbar-nav
        li.active.menu__item.menu__item--active
          a(href='#') Головна
        li.menu__item
          a(href='#') Трускавець
        li.menu__item
          a(href='#') Санаторії
        li.menu__item
          a(href='#') Діти
        li.menu__item
          a(href='#') Ціни
        li.menu__item
          a(href='#') Карта
        li.menu__item
          a(href='#') Контакти




