nav.container
  ul.menu
    li.menu__item Головна
    li.menu__item Трускавець
    li.menu__item Санаторії
    li.menu__item Діти
    li.menu__item Ціни
    li.menu__item Карта
    li.menu__item Контакти
