nav.navbar.navbar-default
  .container
    button.navbar-toggle.collapsed.menu__collapse-btn(type="button" data-toggle="collapse" data-target="#collaps-menu" aria-expanded="false")
      span.sr-only Меню
      span.icon-bar
      span.icon-bar
      span.icon-bar

    include language

    .collapse.navbar-collapse#collaps-menu
      include menu
