footer.page-footer
  .container
    .row
      .col-md-4.col-lg-3
        .page-footer__block.page-footer__block--filled
          .page-footer__block-heading Контакти
          ul.page-footer__info
            li.page-footer__tel.page-footer__info-item +38 (067) 477 44 53
            li.page-footer__skype.page-footer__info-item welcometour
            li.page-footer__viber.page-footer__info-item +38 (067) 477 44 53
            li.page-footer__email.page-footer__info-item
              a(href='mailto:booking@welcometour.com.ua') booking@welcometour.com.ua


      .col-md-4.col-lg-3
        .page-footer__block
          .page-footer__block-heading Віддих
          ul.menu
            li.menu__item.menu__item--active
              span Головна
            li.menu__item
              a.menu__link(href='#') Трускавець
            li.menu__item
              a.menu__link(href='#') Санаторії
            li.menu__item
              a.menu__link(href='#') Діти
            li.menu__item
              a.menu__link(href='#') Ціни
            li.menu__item
              a.menu__link(href='#') Карта
            li.menu__item
              a.menu__link(href='#') Контакти

      .col-md-4.col-lg-6
        .page-footer__block
          .page-footer__block-heading Карта

  .page-footer__post-footer
    .container
      .row
        .copyright Нечипур Віталій 2106 &copy;





