header.page-header
  .container
    .page-header__menu-lang.clearfix
      include menu
      include language
    .page-header__logo-time-phone
      include logo
      .phone +38 (067) 477-44-53
      .worktime пн-пт: з 10:00 до 18:00, сб:з10:00 до 15:00
      include search
