.search
  input.search__field(type='text' placeholder='Пошук' name='search')
  .search__results
    .row
      .col-md-12
        .search__result
          .search__result-img-wrap
            img(src='../images/search-img/rixos@1x.jpg')
      .col-md-12
    .row
      .col-md-12
      .col-md-12
