.search
  input.search__field(type='text' placeholder='Пошук' name='search')
  .search__results
    .row.search__result-row
      .col-md-6
        article.search__result
          .search__result-img-wrap
            img(src='../images/search-img/rixos@1x.jpg')
          .search__result-info-wrap
            a(href='#').location Трускавець
            h1.search__result-heading
              a(href='#') Rixos Прикарпаття
            .stars.stars--5
            p.search__result-description Загальний опис будівлі та номерного фонду: 7-миповерховий
      .col-md-6
        article.search__result
          .search__result-img-wrap
            img(src='../images/search-img/rixos@1x.jpg')
          .search__result-info-wrap
            a(href='#').location Трускавець
            h1.search__result-heading
              a(href='#') Rixos Прикарпаття
            .stars.stars--5
            p.search__result-description Загальний опис будівлі та номерного фонду: 7-миповерховий
    .row.search__result-row
      .col-md-6
        article.search__result
          .search__result-img-wrap
            img(src='../images/search-img/rixos@1x.jpg')
          .search__result-info-wrap
            a(href='#').location Трускавець
            h1.search__result-heading
              a(href='#') Rixos Прикарпаття
            .stars.stars--5
            p.search__result-description Загальний опис будівлі та номерного фонду: 7-миповерховий

      .col-md-6
        article.search__result
          .search__result-img-wrap
            img(src='../images/search-img/rixos@1x.jpg')
          .search__result-info-wrap
            a(href='#').location Трускавець
            h1.search__result-heading
              a(href='#') Rixos Прикарпаття
            .stars.stars--5
            p.search__result-description Загальний опис будівлі та номерного фонду: 7-миповерховий

